body {
  background-image: url(../images/redcurtainbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #382E47;
}

#questions {
	width: 800px;

}

h1 {
	color: #FFD700;
	font-size: 35px;
	text-align: center;
}

p {
	color: #FFD700;
	font-size: 18px;
	text-align: center;
}
.time {
	color: #FFD700;
	font-size: 35px;
	text-align: center;
}
#startStar:hover {
	cursor: pointer;
}